.repo-header {
  margin-bottom: 9px;
  .repo-name { 
    margin: 0;
    float: left; 
    font-weight: bold;
  }
  .repo-stats { 
    float: right;
    font-size: 18px;
    margin-top: 6px;

    .repo-stars, .repo-forks {
      margin-right: 6px;
      & > i {
        margin-right: 3px;
      }
    }
  }
}

.repo-body {
  margin-bottom: 15px;
}

.repo-language {
  display: inline-block;
  padding: 2px 6px;
  background-color: #4fa1cb;
  color: white;
  border-radius: 2px;
  margin-right: 3px;
}

.repo {
  padding: 9px 0 15px 0;
  border-bottom: 1px solid lightgray;
  &:hover { cursor: pointer; }
}
.repo:last-of-type {
  border-bottom: none;
}

.repo-footer a {
  float: right;
  // margin-top: 2px;
  font-size: 16px;
}
