---
layout: default
---
<div class="col-md-8">
  {% for post in site.posts %}

    <div class="post-listing row">
      <a class="post-title" href="{{ post.url }}">
        <h2>{{ post.title }}</h2>
      </a>
      <p class="post-publishing-info">
        Published by <span class="post-author">{{ post.author }}</span>
        on <span class="post-date">{{ post.date | date:'%B %e, %Y' }}</span>
      </p>
      <p class="post-excerpt">
        {{ post.excerpt | remove:'<p>' | remove:'</p>' }}
      </p>
      <ul class="post-categories">
        {% for category in post.categories %}
          <li class="post-category">#{{ category }}</li>
        {% endfor %}
      </ul>
    </div>

  {% endfor %}

  {% comment %}

  {% if paginator.previous_page or paginator.next_page %}
    <div class="row">
      <nav>
        <ul class="pager">
          {% if paginator.previous_page %}
            <li class="previous">
              <a href="{{ paginator.previous_page_path }}">
                &laquo; Newer
              </a>
            </li>
          {% else %}
            <li class="previous disabled"><span>&laquo; Newer</span></li>
          {% endif %}

          {% if paginator.next_page %}
            <li class="next">
              <a href="{{ paginator.next_page_path }}">
                Older &raquo;
              </a>
            </li>
          {% else %}
            <li class="next disabled"><span>Older &raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endif %}

  {% endcomment %}
</div>
