body {
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  line-height: 1.43 !important; 
}

.featured-repos {
  padding: 0;
}

#featured-repos {
  height: 350px;
}

.nofloat { float: none !important; }

.navbar {
  color: white !important;
  margin-bottom: 0;
  background-color: #4fa1cb;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid darken(#4fa1cb, 10%);
}

.navbar-brand {
  color: white !important;
  display: inline-block;
  font-size: 22px;
}
